<!doctype html>

<!-- panneau pour la première vue utile (accueil) -->
  <div class="title">
    <div class="imgTitle"><img id="imgBack" src="../images/521477.jpg"/></div>
    <div class="txtTitle"><h1>Explorez notre galaxie</h1></div>    
  </div>

  <div id="intro">
    <h2>Bienvenue sur mon site</h2>
    <p>Hello, j'ai réalisé ce site dans le cadre du module 307. Ce module touche à la programmation web et nottament aux API. <br>
      Sur ce site, vous pourez voir l'utilisation d'API en rapport avec l'espace. Pour ce faire, j'ai utilisé les APIs donnés 
      par la NASA pour pouvoir afficher les informations sur les derniers asteroïdes découverts ainsi que la météo de mars. Je vous souhaite de passer un bon moment sur mon site.</p>
  </div>
</div>  <!-- fin panneau suite -->
